<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Confirm Delete</h1>
    <p>Are you sure you want to delete the fruit: <em style="color: <%= fruit.color %>;"><%= fruit.name %></em>?</p>
    <form action="/fruits/<%= fruit._id %>?_method=DELETE" method="POST">
        <button type="submit">Yes, Delete <%= fruit.name %></button>
    </form>
    <button onclick="window.history.back()">No, Go Back</button>
</body>
</html>