<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fruit.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>The <em style="color: <%= fruit.color %>;"><%= fruit.name %></em> Page</h1>
    <p>Color: <%= fruit.color %></p>
    <p><%= isReadyToEatMessage %></p>

    <form action="/fruits/<%= fruit._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= fruit.name %></button>
    </form>

    <form action="/fruits/<%= fruit._id %>/soft?_method=DELETE" method="POST">
        <button type="submit">Soft Delete <%= fruit.name %></button>
    </form>

    <button onclick="window.history.back()">Go Back</button>
</body>
</html>